<div class="index-container">
    <div>
        <img src= /images/beer.png>

    </div>
  <button class="beer-button" ><a href ="/beers">  Check the beers!</a></button>
  <button class="beer-button" ><a href ="/random-beers">Check a random beer</a></button>
</div>